body {
    background-color: rgb(152, 152, 204);
}

h1 {
    font-size: 50px;
    transition: color 2.5s;
    color: rgb(126, 0, 0);
}

h1:hover {
    color: white;
}

.content-div {
    text-align: center;
}

.greeting {
    font-size: 25px;
    color: rgb(8, 61, 8);
    transition: color 3s;
}

.greeting:hover {
    color: aquamarine;
}

.greeting-image {
    margin-top: 100px;
}